################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Blazor/BlazorDemo/BlazorDemo/bin/Debug/netstandard2.0
/Blazor/BlazorDemo/BlazorDemo/obj
/Polly/Retry/obj/Release/netcoreapp2.1
